@import "../variables.scss";
.links {
  margin: 1rem 2rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;

  a {
    border-radius: 64px;
    padding: 8px 24px;
  }
}
.next {
  background: $darkGreen;
  color: $lightGreen;
}
.prev {
  background: $lightGreen;
  color: $darkGreen;
}
