.container {
  display: flex;
}
.button {
  height: 100px;
}
.button label,
.button input {
  width: 100%;
}
.button input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}
.button input[type="radio"]:checked + label {
  background: #b1b1b1;
  border-radius: 4px;
  padding: 0.5rem;
}
.button input[type="radio"] + label {
  background: #f1eded;
  border-radius: 4px;
  padding: 0.5rem;
}

.button label {
  cursor: pointer;
  z-index: 90;
}
