.cards {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.card {
  background-color: rgb(219, 217, 217);
  padding: 1rem;
  height: 350px;
  .button {
    height: 40px;
    // position: relative;
    margin-top: 6rem;
  }
  .button label,
  .button input {
    // display: block;
    // position: absolute;
    width: 100%;
  }
  .button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
  }
  .button input[type="radio"]:checked + label {
    background: #b1b1b1;
    border-radius: 4px;
    padding: 1rem;
  }
  .button input[type="radio"] + label {
    background: #f1eded;
    border-radius: 4px;
    padding: 1rem;
  }

  .button label {
    cursor: pointer;
    z-index: 90;
  }
}
.next {
  float: right;
  margin: 2rem;
}
