@import "../variables.scss";
@import "./components/container.scss";

  .section {
    width: 100%;
    color: $greyText;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &:first-of-type{
        input{
        width: 50%;
        }
    }
    input {
        padding: 0.5rem;
        border: 1px solid #667080;
        border-radius: 6px;
        width: 100%;
    }
  }

  .kalkyl {
      display: grid;
      margin-top: 1rem;
      gap:1rem;
      grid-template-columns: 1fr 1fr;
      border: 0.25rem solid $greyText;
      border-radius: 1rem;
      padding: 1rem;

      h2 {
          margin: 0;
          color: $darkOrange;
      }

      .col {
          display: flex;
          flex-direction: column;
          input {
              accent-color: $darkOrange;
          }
      }

      button {
          border: none;
          background-color: $lightOrange;
          padding: 0.75rem;
          width: 40%;
          border-radius: 0.5rem;
          align-self: flex-end;
          margin-top: 1rem;
      }
  }
