@import "../variables.scss";
@import "./components/container.scss";

.heading {
  color: $purpleText;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 2rem;
}
.wrapper {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  font-size: 14px;
  color: #5c5653;
  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: $desktop) {
    width: 70%;
  }
  .flex {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  input[type="checkbox"] {
    appearance: none;
    background-color: $darkGreen;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 0.5em 0.5em white;
  }
  input[type="checkbox"]:checked::before {
    transform: scale(1.7);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
}
