@import "../variables.scss";
@import "./components/container.scss";
.cards {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}
.card {
  background-color: $lightOrange;
  display: flex;
  align-items: end;
  padding: 0px 0px 0.5rem 0.5rem;
  width: 100%;
  border-radius: 8px;

  @media screen and (min-width: $tablet) {
    padding: 16px 32px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    aspect-ratio: 1/1;
    width: 30%;
    text-align: center;
    background-color: #f7f5f4;
  }
  @media screen and (min-width: $desktop) {
    aspect-ratio: 2/1;
  }

  //när klickad
  &[data-active="true"] {
    background-color: #ce7540;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12),
      0px 1px 5px rgba(0, 0, 0, 0.2);
    img {
      filter: hue-rotate(90deg);
    }
    @media screen and (min-width: $tablet) {
      background-color: #f7f5f4;
    }
  }
  .wrapper {
    display: flex;
    // width: 90%;
    gap: 1.5rem;
    font-size: 24px;
    @media screen and (min-width: $tablet) {
      display: block;
    }
    h4 {
      color: $purpleText;
      font-size: 16px;
      display: none;
      @media screen and (min-width: $tablet) {
        display: block;
        font-size: 24px;
      }
    }
    img {
      width: 2.5rem;
      @media screen and (min-width: $tablet) {
        width: 3rem;
      }
    }
  }

  //button
  .button label,
  .button input {
    display: block;
  }
  .button input[type="radio"] {
    opacity: 0;
  }
  .button input[type="radio"]:checked + label {
    background: #ce7540;
    color: #fbefe7;
  }

  .button input[type="radio"] + label {
    background: $lightOrange;
    color: $darkOrange;
    padding: 8px 24px;
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .button label {
    cursor: pointer;
  }
}
