@import "../variables.scss";
@import "./components/container.scss";

.wrapper {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1rem;
  font-size: 14px;
  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: $desktop) {
    width: 70%;
  }
}
