@import "../variables.scss";
@import "./components/container.scss";

.main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    input[type="file"] {
        position: absolute;
        width: 0;
        height: 0;
        display: block;
    }

    .previews {
        gap:1rem;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        @media screen and (min-width: $tablet) {
            display: grid;
            grid-template-areas: 'prev prev 1 2 3 4' '5 6 7 8 9 more';
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
        .imageWrapper {
            display: grid;
            grid-template-columns: 4rem 1fr 3rem;
            width: 100%;

            img {
                aspect-ratio: 1;
                object-fit: cover;
                width: 12rem;
            }
            // height: 100%;

            
            @media screen and (min-width: $tablet) {
                img {
                    aspect-ratio: 1/1;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 0.25rem;
                }

                &:first-of-type{
                    grid-area: prev;
                    img{
                        aspect-ratio: 2.1/1;
                    }
                }
            }
        }
        .more {
            display: none;
            grid-area: more;
            place-self: center;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            background-color: white;
            border: 0.25rem solid $purpleText;
            font-size: 2rem;
            font-weight: 700;
            color:$purpleText;
            border-radius: 0.25rem;
            cursor: pointer;
        }
    }

    .inputLabel {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $lightGreen;
        border-radius: 1rem;
        border: 0.2rem $darkGreen dashed;
        max-height: 100%;
        width: 100%;
        height: 100%;
        &:has(img){
            height: min-content;
        }

        div {
            display: grid;
            grid-template-areas: 'img text1' 'img text2';
            gap:0 2rem;
            padding: 1rem;

            .img {
                grid-area: img;
                place-self: center;
            }
        }

        p {
            color: $purpleText;
            padding: 0;
            margin: 0;
            &:first-of-type{
                font-weight: 700;
                font-size: 1.5rem;
                margin-bottom: 0.25rem;
            }
            &:last-of-type {
                text-decoration: underline;
                text-underline-offset: 0.2rem;
            }
        }
    }
}