//COLORS

//primary
$darkGreen: #599895;
$lightGreen: #eaf3f2;

//secondary
$darkOrange: #dd7c42;
$lightOrange: #f7ded0;

//text
$greenText: #125956;
$greyText: #736b67;

//background
$bg-color: #fcfefe;

$mobile: 400px;
$tablet: 700px;
$desktop: 1080px;
